<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>

<% if(bank){ %>

<h2>Bank Details</h2>

<p><b>Bank:</b> <%= bank.BANK %></p>
<p><b>Branch:</b> <%= bank.BRANCH %></p>
<p><b>IFSC:</b> <%= bank.IFSC %></p>
<p><b>Address:</b> <%= bank.ADDRESS %></p>
<p><b>City:</b> <%= bank.CITY %></p>
<p><b>State:</b> <%= bank.STATE %></p>

<% } else { %>

<h3>Invalid IFSC Code</h3>

<% } %>

<br>
<a href="/">Search Again</a>

</body>
</html>